.creature.p-2.relative.auto-rows-max
	input.settings-creature(type='hidden' name="attr_toggle_creature_settings")
	input.edit-creature(type="hidden" name="attr_toggle_edit_creature_edit")
	.grid.grid-flow-col.auto-cols-min.gap-2.settings-toggle.absolute
		.grid.relative.grid-flow-col.auto-cols-min.gap-2
			+editToggle('creature edit', true)
		.grid.relative.grid-flow-col.auto-cols-min.gap-2
			+settingsToggle('creature settings')
	.grid.gap-4.sheet
		.display-mode
			span.display(name="attr_character_name")
			.grid.col-auto-fr.gap-1.grid-flow-col.items-center
				span.italic Monster Level:
				span.italic(name="attr_level")
			.grid.gap-1.grid-flow-col.items-center.auto-cols-max
				each val in ['size', 'tags']
					+attrSpan(val)(class='italic')
		.inputs.grid.gap-2
			.grid.gap-2.grid-flow-col.bio
				.grid.grid-flow-col.gap-2
					+headerInput('character name')
				.grid.col-auto-fr.gap-1.grid-flow-col.items-center
					h3(data-i18n="level")
					+numberInput("level")(class="text-center")
			.grid.grid-flow-col.gap-2.size-tags
				each val in ['size', 'tags']
					+headerInput(val)

		+combatAttributes()

		.display-mode.grid
			.grid.gap-4.grid-flow-col.items-center.auto-cols-max
				each val in ['hp', 'armor rating']
					.grid.gap-2.grid-flow-cols.col-auto-fr.items-center.display-span
						h3(data-i18n=val === 'armor rating' ? 'AR' : val)
						+attrSpan(val)(class='font-base')
			.grid.gap-2.grid-flow-col.items-center.items-center.mb-2.auto-cols-max.display-span
				h3(data-i18n="speed")
				+attrSpan("speed")(class='font-base')
			.grid.gap-2.items-center.auto-cols-max.grid-flow-col
				each val in ['resist', 'immune']
					.grid.gap-2.grid-flow-col.items-center.auto-cols-max.display-span.display-span
						h3(data-i18n=val)
						+attrSpan(val)(class='font-base')
			.grid.gap-2.items-center.auto-cols-max.grid-flow-col
				each val in ['vulnerable', 'damage reduction']
					.grid.gap-2.grid-flow-col.items-center.auto-cols-max.display-span
						h3(data-i18n=val)
						+attrSpan(val)(class='font-base')
			.grid.gap-2.grid-flow-col.items-center.items-center.mb-2.auto-cols-max.display-span
				h3(data-i18n="senses")
				+attrSpan("senses")(class='font-base')
			.grid.gap-2.grid-flow-col.items-center.items-center.mb-2.auto-cols-max.display-span
				h3(data-i18n="traits")
				+attrSpan("traits")(class='font-base')

		.inputs.grid.gap-4
			.grid.gap-2.grid-flow-col.items-center.hp-armor-speed
				each val in ["hp", "armor rating", "speed"]
					.grid.grid-gap-2.grid-flow-col.items-center
						+headerInput(val)

			.grid.gap-2.grid-flow-col.items-center
				each val in ['resist', 'immune']
					+headerInput(val)

			.grid.gap-2.grid-flow-col.items-center
				each val in ['vulnerable', 'damage reduction']
					+headerInput(val)

			.grid.gap-2.items-center
				each val in ['senses', 'traits']
					+headerInput(val)

		.grid.gap-2.items-center
			h2.text-primary(data-i18n="skills")
			+repeatingSkills()(class="repeating_skills")

		.grid.gap-2.items-center
			h2.text-primary(data-i18n="features")
			fieldset(class=`repeating_features`)
				input(type="hidden" name="attr_link" value="")
				.grid.gap-2.relative.repeating-grid.features
					.grid.grid-flow-col.gap-2.displayed.custom-grid
						+repeatingChatButton(attrName("features"))
						.grid.gap-2.grid-flow-col.items-center.items-center.auto-cols-max.display-span
							span.font-bold Hit:
							+repeatingDamageButton("damage")(class="text-center")
							+attrSpan("damage type")
					+editToggle()
					+collapseToggle()
					.collapsible.grid.gap-2
						.description
							span.display(name='attr_description')
					.edit.grid.gap-2.ml-4
						+headerInput('name')
						.grid.gap-2.grid-flow-col.damage
							each val in ['damage', 'damage type']
								+headerInput(val)
						.description
							+textarea('description')


		.grid.gap-2.items-center.actions
			h2.text-primary(data-i18n="actions")
			.display-mode
				span(name='attr_action_description')
			.inputs
				textarea(name='attr_action_description' title='@{action_description}')
			fieldset(class=`repeating_actions`)
				input(type="hidden" name="attr_roll_formula" value=`{{dice=[[1d20+(?{TA/TD|0}[tactical bonus])]]}} {{description=@{description}}}`)
				.grid.gap-2.relative.repeating-grid
					input(type='hidden' name='attr_name')
					.grid.grid-flow-col.gap-2.displayed.custom-grid
						+repeatingAttackRollButton('name')
						span.or.font-bold(name="attr_name")
						span.or(name="attr_description")
					+editToggle()
					+collapseToggle()
					.collapsible.grid.gap-1
						input(type="hidden" name="attr_toggle_action_attack")
						.grid.grid-flow-col.items-center.auto-cols-max.gap-2
							span.italic Reach
							+attrSpan("reach")(class="italic")
							+attrSpan("type")(class="italic")
							+attrSpan("bonus")
							span vs
							+attrSpan("defense")
							span.font-bold Hit:
							span(name='attr_damage_average')(class="text-center")
							+repeatingDamageButton("damage")(class="text-center")
							+attrSpan("damage type")
						.description
							span.display(name='attr_description')
					.edit.grid.gap-2.ml-4
						.grid.gap-2.grid-flow-col.col-fr-auto
							+headerInput('name')
							.grid.gap-2.grid-flow-col.items-center.attack-toggle.auto-cols-min
								h3(data-i18n="attack")
								label.switch(data-i18n-title="toggle attack")
									input(type="checkbox" name="attr_toggle_action_attack")
									span.slider
						.grid.gap-2.grid-flow-col
							each val in ['reach', 'type']
								+headerInput(val)
						.grid.gap-2.grid-flow-col.items-center
							+headerInput('bonus')
							span vs
							+headerInput('defense')
						.grid.gap-2.grid-flow-col.damage
							.grid.col-auto-fr.gap-1.grid-flow-col.items-center
								h3(data-i18n='damage')
								.grid.grid-flow-col.items-center
									+numberInput('damage average')
									span (
									+textInput('damage')
									span )
							+headerInput('damage type')
						.description
							+textarea('description')

		.grid.gap-2.items-center
			h2.text-primary(data-i18n="reactions")
			+repeatingFeatures("reactions")

		.grid.gap-2.items-center
			h2.text-primary(data-i18n="spells")
			+repeatingSpellCards()

	.grid.gap-6.settings
		+sheetSelect()
