.creature {
  max-width: 550px;

  h2 {
    @extend .uppercase;
    @extend .text-primary;
    @extend .font-bold;
  }

  .settings-toggle {
    top: 4px;
    right: 4px;

    .toggle-settings {
      grid-column: 1 / -1;

      & + span {
        grid-column: 1 / -1;
      }
    }
  }

  input[name="attr_hp"],
  input[name="attr_armor_rating"] {
    text-align: center;
  }

  .bio {
    grid-template-columns: 1fr 100px;
  }

  .size-tags {
    grid-template-columns: 1fr minmax(250px, 2fr);
  }

  .hp-armor-speed {
    grid-template-columns: repeat(2, 1fr) minmax(250px, 2fr);
  }

  .attrs {
    grid-template-columns: repeat(6, 1fr);

    .luck,
    .coordination {
      display: none;
    }

    .reflexes {
      grid-column: 2 / 3;
    }
    .fortitude {
      grid-column: 3 / 4;
    }
    .anticipation {
      grid-column: 4 / 5;
    }
    .logic {
      grid-column: 5 / 6;
    }
    .willpower {
      grid-column: 6 / 7;
    }
  }

  div.repeating_skills {
    .category {
      display: none;
    }

    .custom-grid {
      grid-auto-columns: min-content;
    }
  }

  .actions {
    span.or {
      display: none;
    }

    @each $value in ("or", "OR", "…and", "…AND", "and", "AND") {
      input[name="attr_name"][value="#{$value}"] {
        & ~ .grid button[type="roll"],
        & ~ .collapsible,
        & ~ .toggle-collapse,
        & ~ .toggle-collapse + span {
          display: none;
        }

        & ~ .grid span.or {
          display: inline;
        }

        & + .custom-grid {
          grid-auto-columns: max-content;
        }
      }
    }

    .damage {
      grid-template-columns: 1fr 2fr;
    }
  }
}
