//Override the Roll20 default styles
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.sheet-darkmode .sheetform,
.sheetform {
  background: transparent;
}

.characterviewer label {
  margin: 0px;
  padding: 0px;
}

.ui-dialog .charsheet {
  padding: 0px;

  button.btn {
    background-image: none;
    text-shadow: none;
  }

  button[type="roll"] {
    @extend .font-base;
  }

  input[type="number"] {
    width: 100%;
  }
}

.charsheet {
  @extend .font-base;
  @extend .min-w-lg;
  background-color: transparent;

  fieldset {
    background-color: transparent;
  }

  @import "components/headers";
  @import "components/button";
  @import "components/input";
  @import "components/select";
  @import "components/textarea";

  p {
    @extend .font-base;
  }

  option {
    font-weight: bold;
  }
}
