div.settings {
  display: inline-grid;
}

input[name="attr_settings_toggle"]:not([value="settings"]) ~ div.settings {
  display: none;
}

span.display {
  display: block;
}

input.toggle-edit:checked ~ .grid span.display,
input.toggle-edit:not(checked) ~ .grid textarea,
input.toggle-edit:not(checked) ~ .grid label,
input.toggle-edit:not(checked) ~ .grid .edit,
input.toggle-edit:not(checked) ~ .edit,
input.toggle-collapse:not(checked) ~ .collapsible {
  display: none;
}

input.toggle-edit:not(checked) ~ .grid span.display,
input.toggle-edit:checked ~ .grid textarea,
input.toggle-edit:checked ~ .grid label,
input.toggle-edit:checked ~ .grid .edit,
input.toggle-edit:checked ~ .edit,
input.toggle-collapse:checked ~ .collapsible {
  display: inherit;
}

input[name*="attr_hide_"][value*="hide"] + div,
input[name*="attr_hide_"][value*="on"] ~ div.hide {
  display: none;
}

$tabs: "main", "combat", "magic", "journal", "talents", "settings";

@each $tab in $tabs {
  input[name="attr_tab"][value="#{$tab}"] ~ div.#{$tab} {
    display: grid;
  }

  input[name="attr_tab"]:not([value="#{$tab}"]) ~ div.#{$tab} {
    display: none;
  }
}

$sheet-type: "pc", "creature", "siege";

@each $type in $sheet-type {
  input[name="attr_sheet_type"][value="#{$type}"] ~ div.#{$type} {
    display: grid;
  }

  input[name="attr_sheet_type"]:not([value="#{$type}"]) ~ div.#{$type} {
    display: none;
  }
}

input[name="attr_toggle_action_attack"]:not([value="on"]) + p .vs,
input[name="attr_toggle_action_attack"]:not([value="on"]) + p .hit,
input[name="attr_damage"][value=""] + span,
input[name="attr_damage"][value=""] ~ button[name="roll_damage"],
input[name="attr_damage"][value=""] ~ span[name="attr_damage_type"] {
  display: none;
}

$npc-types: "creature", "siege";

// Refactored: Remove $npc-types and use npc only

input.edit-npc:not([value="true"]) ~ .grid .inputs,
input.edit-npc:not([value="true"]) ~ .grid .grid .repcontrol,
input.edit-npc[value="true"] ~ .display,
input.edit-npc[value="true"] ~ .grid .display-mode,
input.edit-npc[value="true"] ~ .grid span.display-mode,
input.edit-npc:not([value="true"]) ~ .sheet .grid .header-toggle label.switch,
input.settings-npc[value="true"] ~ .sheet,
input.settings-npc:not([value="true"]) ~ .settings {
  display: none;
}

input.edit-npc[value="true"] ~ .inputs,
input.edit-npc:not([value="true"]) ~ .display,
input.edit-npc:not([value="true"]) ~ .grid .display,
input.edit-npc:not([value="true"]) ~ .grid span.display,
input.settings-npc[value="true"] ~ .settings,
input.settings-npc:not([value="true"]) ~ .sheet {
  display: inherit;
}
@each $value in ("skills", "features", "actions", "reactions", "spells") {
  .section-#{$value} {
    display: none;
  }

  input.edit-npc[value="true"] ~ .sheet .section-#{$value},
  input[name="attr_npc_sections"][value*="#{$value}"]
    ~ .sheet
    .section-#{$value} {
    display: inherit;
  }
}
