charmancer.sheet-charmancer-attributes
    +slideTemplate("attributes")
        p Your character has six core attributes that define their physical and mental capabilities. You have a pool of points to distribute among these attributes, with certain minimums and maximums based on your chosen lineage.